/__pycache__/
*.pyc
*.pyo
*.pyd

/build/
/dist/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db

OMIT.txt
cherry-commit.py

/layers/contour_layer.py
/layers/binary_annotation_layer.py

/contours/processing.py
/contours/algorithms.py